<% @facts.each do |fact| %>

<div class="fact-box">

<h1><%= fact.text %></h1>

<div class="text-right">
<% if fact.flags.to_i > 0 %>
<p class="text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This fact has been flagged as false <b><% if fact.flags == 1 %> 1 time. <% else %> <%= fact.flags %> times. <% end %></b> </p>
<% end %>
<%= link_to 'Go to Fact', fact_path(fact), class: 'btn-nav' %>
</div>
<br/>

</div>
<br/>

<% end %>

<div class="apple_pagination text-center">
<%= will_paginate @facts %>
</div>