<h1 class="text-center"><%= @fact.text %></h1>

<p class="pull-right">Flag as False</p>

<div class="pull-left">
<h2>Citations</h2>
<% if @fact.initial_citation.present? %>
<p><%= @fact.initial_citation %></p>
<% end %>

</div>