/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
   /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px;
}
/* Set the fixed height of the footer here */
#footer {
  height:20px;
  color: #aaaaaa;
  text-align: center;
  background: url('binding_dark.png');
  opacity: .8;
}

#footer a, #footer a:link, #footer a:active, #footer a:visited {
  color: #aaaaaa;
  text-decoration: none;
}

#footer a:hover {
  color: #dddddd;
}